@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
}

@layer utilities {
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
    }
}


/* scrollbar  */


/* width */

::-webkit-scrollbar {
    border-radius: 20px;
    width: 12px;
    transition-duration: 300ms;
}


/* Track */

::-webkit-scrollbar-track {
    background: white;
}


/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #B39FFC;
    transition-duration: '0.3s';
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #8a6bfc;
}